@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.hl-header {
    text-shadow: 5px -1px 2px white, -5px 1px 2px red;
}

.hl-header:hover {
    color: white;
    text-shadow: 5px -2px 1px black;
}

.swal-text {
    font-family: "Anuphan", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: large;
}

.popup-hidden {
    display: none;
}

.blur-load {
    background-size: cover;
    background-position: center;
}

.blur-load {
    background-repeat: no-repeat;
    background-size: cover;
}


/* 
.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: pulse 2.5s infinite;
    background-color: var(--text-color);
} */

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}


/* .blur-load.loaded::before {
    animation: none;
    content: none;
} */

.blur-load img {
    opacity: 0;
    transition: opacity 800ms ease-in-out;
}

.blur-load.loaded img {
    opacity: 1;
}